.charts-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .charts-grid {
    display: flex;
    gap: 2rem;
  }

  .chart-box {
    flex: 1;
  }

  .total-box {
  margin-bottom: 10px;
  font-weight: bold;
}
}